<%- include('partials/header') %>
<div class="container mt-5">
  <h1>Register</h1>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
          <!-- Makes POST request to /register route -->
          <form action="/register" method="POST">
          
            <div class="form-group">
              <label for="user-email">Email</label>
              <input type="email" id="user-email" class="form-control" name="u_email" />
            </div>
            <div class="form-group">
              <label for="user-password">Password</label>
              <input type="password" id="user-password"class="form-control" name="u_password" />
            </div>
            <div class="form-group">
              <label for="user-vessel">Vessel</label>
              <input type="text" id="user-vessel"class="form-control" name="u_vessel" />
            </div>
            <div class="form-group">
              <label for="user-vessel_imo">imo number</label>
              <input type="text" id="user-vessel_imo"class="form-control" name="u_vessel_imo" />
            </div>
            <div class="form-group">
              <label for="user-whatsApp">whatsApp</label>
              <input type="text" id="user-whatsApp"class="form-control" name="u_whatsApp" />
            </div>
            <div class="form-group">
              <label for="user-cell">cell</label>
              <input type="text" id="user-cell"class="form-control" name="u_cell" />
            </div>
            <div class="form-group">
              <label for="user-first-name">First Name</label>
              <input type="text" id="user-first-name"class="form-control" name="u_first_name" />
            </div>
            <div class="form-group">
              <label for="user-last-name">Last Name</label>
              <input type="text" id="user-last-name"class="form-control" name="u_last_name" />
            </div>
            <div class="form-group">
              <label for="user-rank">Your Rank</label>
              <input type="text" id="user-rank"class="form-control" name="u_rank" />
            </div>
            <div class="form-group">
              <label for="u_role">Last Name</label>
              <input type="text" id="u_role"class="form-control" name="u_role" value="seafarer" />
            </div>
            <div class="form-group">
              <label for="u_code">"Please type here your vessels verification code as received on vessel's email or on paper at the gangway!"</label>
              <input type="text" id="u_code"class="form-control" name="u_code" />
            </div>
            <!-- <div class="form-group">
              <label for="u_role">Sellect a role for this User:</label>
              <select id="u_role">
                <option value="crew_member" selected>crew member</option>
                <option value="driver">driver</option>
                <option value="dispatcher">dispatcher</option>
                <option value="admin">admin</option>
              </select>
            </div> -->

            <button type="submit" id="u_register_submit" class=" btn blue ">Register</button>
          </form>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card social-block">
        <div class="card-body">
          <a class="btn " href="/auth/google" role="button">
            <i class="fab fa-google"></i>
            Sign Up with Google
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/header') %>
