<!-- <!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="./assets/css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" href="./assets/css/custom.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Set a pick up</title>
  </head>
  <body> -->
    <%- include('partials/header') %>
      <div class="row">
        <div value=" <%= data.username %>" id="current-user-box"></div>
        <div class="row " id="display1-div">
        </div>
          
          <div class="col s10 offset-s7">
            <a href="">Crew Login   /</a>
            <a href="driver_view.html">  Driver Login / </a>
            <a href="dispatcher_view.html">  Dispatcher Login </a>
            <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
            <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

            </div>
            </div>
              
              <div class="container">
          <div class="row">
              
              <div class="col s10 offset-s1">
                  
                  
                  
                  <div id="content" class="m2">
                      <header id="header" class=" blue darken-1">
                         Driver's pick ups
                        </header>
                        
     
                            <div class="row" id="loaders">
                                <img id="spinner" src="./assets/img/spinner.gif" width="150">
                            </div>
                            <div class="row">
                                    <div class="col s6">
                                        <button id="sendBtn" class="btn waves-effect waves-light  pink darken-2" type="submit" name="action">Send
                                                <i class="material-icons right">send</i>
                                        </button>
                                    </div>
                                    <div class="col s6">
                                        <button id="resetBtn" class="btn waves-effect waves-light light-blue darken-2" type="submit">Reset
                                                <i class="material-icons right">delete</i>
                                        </button>
                                    </div>
                            </div>
                    
                    </form> 
                    
                </div> <!--.contenido-->
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="./assets/js/materialize.min.js"></script>
    <script type="module"  src="./assets/js/app.js"></script>

    <%- include('partials/header') %>
  <!-- </body>
</html>
       -->