<%- include('partials/header') %>

<div class="container mt-5">
  <h1>Confirmation</h1>

  <div class="row">
    <!-- <div value=" <%= data.username %>" id="current-user-box"></div> -->
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">

          <!-- Makes POST request to /login route -->
          <form action="/home1"  method="GET">

            <h6 class="form-group"> <%= data.remarks %>  </h6>
            
            <!-- <input id="crew1" name="crew1" type="text"  >  -->
             
              <!-- <a href="/crew_pickup">  Your Pickups / </a> -->
            <!-- <button type="submit" class="btn btn-dark">Login</button> -->
            <button id="sendBtn" class="btn waves-effect waves-light  pink darken-2"
            type="submit" name="action">list of Pick ups</button>
            <!-- <div type="submit" name="action" ><a type="submit" name="action" class="btn btn-light">  Your Pickups </a></div> -->
          </form>

        </div>
      </div>
    </div>

    <!-- <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <a class="btn btn-block" href="/auth/google" role="button">
            <i class="fab fa-google"></i>
            Sign In with Google
          </a>
        </div>
      </div>
    </div> -->

  </div>
</div>

<%- include('partials/footer') %>
